adflab-adf300/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adflab-adf300"
		},
		"AzStorage_Staging_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzStorage_Staging'"
		},
		"Az_blob_S3_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Az_blob_S3'"
		},
		"AzureDWDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureDWDB'"
		},
		"AzureODSDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureODSDB'"
		},
		"HDI_ADFLab_clusterPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterPassword' of 'HDI_ADFLab'"
		},
		"HDI_ADFLab_clusterSshPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterSshPassword' of 'HDI_ADFLab'"
		},
		"HDI_ADFLab_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'HDI_ADFLab'"
		},
		"HDI_Hive_clusterPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterPassword' of 'HDI_Hive'"
		},
		"HDI_Hive_clusterSshPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterSshPassword' of 'HDI_Hive'"
		},
		"HDI_Hive_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'HDI_Hive'"
		},
		"SSISDB Azure Endpoint_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SSISDB Azure Endpoint'"
		},
		"Master_FAAFile_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "FAAmaster.txt"
		},
		"Master_FAAFile_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "input/FAAmaster"
		},
		"S3_MasterFAAFile_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "FAAmaster.txt"
		},
		"S3_MasterFAAFile_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "blobsource/S3/S3"
		},
		"HDI_ADFLab_properties_typeProperties_hostSubscriptionId": {
			"type": "string",
			"defaultValue": "c14554fe-2205-4aa2-9458-1fe4b13e0878"
		},
		"HDI_ADFLab_properties_typeProperties_clusterResourceGroup": {
			"type": "string",
			"defaultValue": "adflab-test"
		},
		"HDI_ADFLab_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "f3bdebfd-68db-4424-bab3-a8b8cd386be2"
		},
		"HDI_ADFLab_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "580a5de5-d69e-4245-885d-6339e2e76bc3"
		},
		"HDI_ADFLab_properties_typeProperties_clusterSshUserName": {
			"type": "string",
			"defaultValue": "adflab_HiveCluster"
		},
		"HDI_Hive_properties_typeProperties_hostSubscriptionId": {
			"type": "string",
			"defaultValue": "c14554fe-2205-4aa2-9458-1fe4b13e0878"
		},
		"HDI_Hive_properties_typeProperties_clusterResourceGroup": {
			"type": "string",
			"defaultValue": "adflab-test"
		},
		"HDI_Hive_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "f3bdebfd-68db-4424-bab3-a8b8cd386be2"
		},
		"HDI_Hive_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "580a5de5-d69e-4245-885d-6339e2e76bc3"
		},
		"HDI_Hive_properties_typeProperties_clusterSshUserName": {
			"type": "string",
			"defaultValue": "adfLab_HiveCluster"
		},
		"HTTP_Weather_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://weather-b362.restdb.io/rest/random-weather-dec-2016"
		},
		"ADFLab-SSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "adflabsqlzf6ow.database.windows.net"
		},
		"ADFLab-SSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "labadmin"
		},
		"ADFLab-SSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load Data Warehouse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DW Truncate Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_TruncateStaging]"
						},
						"linkedServiceName": {
							"referenceName": "AzureDWDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ODS Airline to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Staging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "Int32"
										},
										"sink": {
											"name": "Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Airline_Code",
											"type": "String"
										},
										"sink": {
											"name": "Airline_Code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODSAirline",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DWStagingAirline",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ODS Airport to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Staging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City_Airport",
											"type": "String"
										},
										"sink": {
											"name": "City_Airport",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODSAirport",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Airport",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ODS Flight to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Staging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "YEAR",
											"type": "Int16"
										},
										"sink": {
											"name": "YEAR",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "MONTH",
											"type": "Int16"
										},
										"sink": {
											"name": "MONTH",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "FL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "FL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UNIQUE_CARRIER",
											"type": "String"
										},
										"sink": {
											"name": "UNIQUE_CARRIER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AIRLINE_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "AIRLINE_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CARRIER",
											"type": "String"
										},
										"sink": {
											"name": "CARRIER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAIL_NUM",
											"type": "String"
										},
										"sink": {
											"name": "TAIL_NUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FL_NUM",
											"type": "Int32"
										},
										"sink": {
											"name": "FL_NUM",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_AIRPORT_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_AIRPORT_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_AIRPORT_SEQ_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_AIRPORT_SEQ_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_CITY_MARKET_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_CITY_MARKET_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_AIRPORT_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_AIRPORT_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_AIRPORT_SEQ_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_AIRPORT_SEQ_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_CITY_MARKET_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_CITY_MARKET_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEP_TIME",
											"type": "String"
										},
										"sink": {
											"name": "DEP_TIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEP_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "DEP_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "DEP_DELAY_NEW",
											"type": "Double"
										},
										"sink": {
											"name": "DEP_DELAY_NEW",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "TAXI_OUT",
											"type": "Double"
										},
										"sink": {
											"name": "TAXI_OUT",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "WHEELS_OFF",
											"type": "String"
										},
										"sink": {
											"name": "WHEELS_OFF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WHEELS_ON",
											"type": "String"
										},
										"sink": {
											"name": "WHEELS_ON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAXI_IN",
											"type": "Double"
										},
										"sink": {
											"name": "TAXI_IN",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "ARR_TIME",
											"type": "String"
										},
										"sink": {
											"name": "ARR_TIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARR_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "ARR_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "ARR_DELAY_NEW",
											"type": "Double"
										},
										"sink": {
											"name": "ARR_DELAY_NEW",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "CANCELLED",
											"type": "Boolean"
										},
										"sink": {
											"name": "CANCELLED",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "CANCELLATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "Double"
										},
										"sink": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "AIR_TIME",
											"type": "Double"
										},
										"sink": {
											"name": "AIR_TIME",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "FLIGHTS",
											"type": "Int32"
										},
										"sink": {
											"name": "FLIGHTS",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DISTANCE",
											"type": "Int32"
										},
										"sink": {
											"name": "DISTANCE",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CARRIER_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "CARRIER_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "WEATHER_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "WEATHER_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "NAS_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "NAS_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "SECURITY_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "SECURITY_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "DEST_CODE",
											"type": "String"
										},
										"sink": {
											"name": "DEST_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORIGIN_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_CODE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDWDB')]",
				"[concat(variables('factoryId'), '/datasets/ODSAirline')]",
				"[concat(variables('factoryId'), '/datasets/DWStagingAirline')]",
				"[concat(variables('factoryId'), '/datasets/ODSAirport')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Airport')]",
				"[concat(variables('factoryId'), '/datasets/ODS_Flight')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Flight')]",
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Merge FAA Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run FAA Hive Merge",
						"type": "HDInsightHive",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "input/FAAMerge.hql",
							"getDebugInfo": "Always",
							"scriptLinkedService": {
								"referenceName": "AzStorage_Staging",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "HDI_Hive",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Staging')]",
				"[concat(variables('factoryId'), '/linkedServices/HDI_Hive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Module2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "sp_executesql",
							"storedProcedureParameters": {
								"stmt": {
									"value": "DECLARE @return_value INT, @exe_id BIGINT, @err_msg NVARCHAR(150)    EXEC @return_value=[SSISDB].[catalog].[create_execution] @folder_name=N'ADFLab', @project_name=N'ADFLab', @package_name=N'Module2.dtsx', @use32bitruntime=0, @runinscaleout=1, @useanyworker=1, @execution_id=@exe_id OUTPUT    EXEC [SSISDB].[catalog].[set_execution_parameter_value] @exe_id, @object_type=50, @parameter_name=N'SYNCHRONIZED', @parameter_value=1    EXEC [SSISDB].[catalog].[start_execution] @execution_id=@exe_id, @retry_count=0    IF(SELECT [status] FROM [SSISDB].[catalog].[executions] WHERE execution_id=@exe_id)<>7 BEGIN SET @err_msg=N'Your package execution did not succeed for execution ID: ' + CAST(@exe_id AS NVARCHAR(20)) RAISERROR(@err_msg,15,1) END",
									"type": "string"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SSISDB Azure Endpoint",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SSISDB Azure Endpoint')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3 to Blob Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "S3 to Azure Blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"N-Number": "N-Number",
									"Serial Number": "Serial Number",
									"MFR MDL Code": "MFR MDL Code",
									"Eng MFR Code": "Eng MFR Code",
									"Year MFR": "Year MFR",
									"Type Registrant": "Type Registrant",
									"Name": "Name",
									"Street 1": "Street 1",
									"Street2": "Street2",
									"City": "City",
									"State": "State",
									"ZIP": "ZIP",
									"Region": "Region",
									"County ": "County ",
									"Country": "Country",
									"Last Activity Date": "Last Activity Date",
									"Cert Issue Date": "Cert Issue Date",
									"Certification Requested ": "Certification Requested ",
									"Type Aircraft": "Type Aircraft",
									"Type Engine": "Type Engine",
									"Status Code": "Status Code",
									"Mode S Code": "Mode S Code",
									"Fractional  Ownership": "Fractional  Ownership",
									"Airworthiness Date": "Airworthiness Date",
									"Other Name 1": "Other Name 1",
									"Other Name 2": "Other Name 2",
									"Other Name 3": "Other Name 3",
									"Other Name 4": "Other Name 4",
									"Other Name 5": "Other Name 5",
									"Expiration Date": "Expiration Date",
									"Unique ID": "Unique ID",
									"Kit MFR Code": "Kit MFR Code",
									"Kit Model": "Kit Model",
									"Mose S Code Hex": "Mose S Code Hex"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "S3_MasterFAAFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Master_FAAFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SendSuccessEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "S3 to Azure Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://pragmaticworks.com",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"successtype": "Succeeded",
								"message": "@{activity('S3 to Azure Blob').output.dataWritten}",
								"pipelineName": "@{pipeline().Pipeline}",
								"recipient": "@{pipeline().parameters.recipient}"
							}
						}
					},
					{
						"name": "SendFailureEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "S3 to Azure Blob",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://pragmaticworks.com",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"successtype": "Failed",
								"message": "@{activity('S3 to Azure Blob').error.message}",
								"pipelineName": "@{pipeline().Pipeline}",
								"recipient": "@{pipeline().parameters.recipient}"
							}
						}
					},
					{
						"name": "Exec Weather to Blob copy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SendSuccessEmail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Weather to Blob Copy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Exec Merge FAA Files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Exec Weather to Blob copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Merge FAA Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"parameters": {
					"recipient": {
						"type": "string",
						"defaultValue": "pieter.gruyters@randomforest.se"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S3_MasterFAAFile')]",
				"[concat(variables('factoryId'), '/datasets/Master_FAAFile')]",
				"[concat(variables('factoryId'), '/pipelines/Weather to Blob Copy')]",
				"[concat(variables('factoryId'), '/pipelines/Merge FAA Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weather to Blob Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_fu0",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "input//201612-WeatherData.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_fu0",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_fu0",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_fu0')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_fu0')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWStagingAirline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDWDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Airline_Code",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[DimAirline]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDWDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Airport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDWDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "Code",
						"type": "varchar"
					},
					{
						"name": "City_Airport",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[DimAirport]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDWDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Flight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDWDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "YEAR",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MONTH",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FL_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UNIQUE_CARRIER",
						"type": "varchar"
					},
					{
						"name": "AIRLINE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "TAIL_NUM",
						"type": "varchar"
					},
					{
						"name": "FL_NUM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEP_TIME",
						"type": "varchar"
					},
					{
						"name": "DEP_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEP_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TAXI_OUT",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WHEELS_OFF",
						"type": "varchar"
					},
					{
						"name": "WHEELS_ON",
						"type": "varchar"
					},
					{
						"name": "TAXI_IN",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_TIME",
						"type": "varchar"
					},
					{
						"name": "ARR_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CANCELLED",
						"type": "bit"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AIR_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FLIGHTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DISTANCE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WEATHER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "NAS_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SECURITY_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEST_CODE",
						"type": "varchar"
					},
					{
						"name": "ORIGIN_CODE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[FlightFact]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDWDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_fu0')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorage_Staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "201612-WeatherData.txt",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "dateint",
						"type": "String"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "temp",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FAA_Merge')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorage_Staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_FAAFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorage_Staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "N-Number",
						"type": "String"
					},
					{
						"name": "Serial Number",
						"type": "String"
					},
					{
						"name": "MFR MDL Code",
						"type": "String"
					},
					{
						"name": "Eng MFR Code",
						"type": "String"
					},
					{
						"name": "Year MFR",
						"type": "String"
					},
					{
						"name": "Type Registrant",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Street 1",
						"type": "String"
					},
					{
						"name": "Street2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZIP",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "County ",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Last Activity Date",
						"type": "String"
					},
					{
						"name": "Cert Issue Date",
						"type": "String"
					},
					{
						"name": "Certification Requested ",
						"type": "String"
					},
					{
						"name": "Type Aircraft",
						"type": "String"
					},
					{
						"name": "Type Engine",
						"type": "String"
					},
					{
						"name": "Status Code",
						"type": "String"
					},
					{
						"name": "Mode S Code",
						"type": "String"
					},
					{
						"name": "Fractional  Ownership",
						"type": "String"
					},
					{
						"name": "Airworthiness Date",
						"type": "String"
					},
					{
						"name": "Other Name 1",
						"type": "String"
					},
					{
						"name": "Other Name 2",
						"type": "String"
					},
					{
						"name": "Other Name 3",
						"type": "String"
					},
					{
						"name": "Other Name 4",
						"type": "String"
					},
					{
						"name": "Other Name 5",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Unique ID",
						"type": "String"
					},
					{
						"name": "Kit MFR Code",
						"type": "String"
					},
					{
						"name": "Kit Model",
						"type": "String"
					},
					{
						"name": "Mose S Code Hex",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('Master_FAAFile_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('Master_FAAFile_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODSAirline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureODSDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Airline_Code",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Airline]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureODSDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODSAirport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureODSDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Code",
						"type": "varchar"
					},
					{
						"name": "City_Airport",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Airport]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureODSDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_Flight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureODSDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "YEAR",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MONTH",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FL_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UNIQUE_CARRIER",
						"type": "varchar"
					},
					{
						"name": "AIRLINE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "TAIL_NUM",
						"type": "varchar"
					},
					{
						"name": "FL_NUM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEP_TIME",
						"type": "varchar"
					},
					{
						"name": "DEP_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEP_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TAXI_OUT",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WHEELS_OFF",
						"type": "varchar"
					},
					{
						"name": "WHEELS_ON",
						"type": "varchar"
					},
					{
						"name": "TAXI_IN",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_TIME",
						"type": "varchar"
					},
					{
						"name": "ARR_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CANCELLED",
						"type": "bit"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AIR_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FLIGHTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DISTANCE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WEATHER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "NAS_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SECURITY_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEST_CODE",
						"type": "varchar"
					},
					{
						"name": "ORIGIN_CODE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Flight]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureODSDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3_MasterFAAFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Az_blob_S3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "N-Number",
						"type": "String"
					},
					{
						"name": "Serial Number",
						"type": "String"
					},
					{
						"name": "MFR MDL Code",
						"type": "String"
					},
					{
						"name": "Eng MFR Code",
						"type": "String"
					},
					{
						"name": "Year MFR",
						"type": "String"
					},
					{
						"name": "Type Registrant",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Street 1",
						"type": "String"
					},
					{
						"name": "Street2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZIP",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "County ",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Last Activity Date",
						"type": "String"
					},
					{
						"name": "Cert Issue Date",
						"type": "String"
					},
					{
						"name": "Certification Requested ",
						"type": "String"
					},
					{
						"name": "Type Aircraft",
						"type": "String"
					},
					{
						"name": "Type Engine",
						"type": "String"
					},
					{
						"name": "Status Code",
						"type": "String"
					},
					{
						"name": "Mode S Code",
						"type": "String"
					},
					{
						"name": "Fractional  Ownership",
						"type": "String"
					},
					{
						"name": "Airworthiness Date",
						"type": "String"
					},
					{
						"name": "Other Name 1",
						"type": "String"
					},
					{
						"name": "Other Name 2",
						"type": "String"
					},
					{
						"name": "Other Name 3",
						"type": "String"
					},
					{
						"name": "Other Name 4",
						"type": "String"
					},
					{
						"name": "Other Name 5",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Unique ID",
						"type": "String"
					},
					{
						"name": "Kit MFR Code",
						"type": "String"
					},
					{
						"name": "Kit Model",
						"type": "String"
					},
					{
						"name": "Mose S Code Hex",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"treatEmptyAsNull": false,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('S3_MasterFAAFile_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('S3_MasterFAAFile_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Az_blob_S3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_fu0')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTP_Weather",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "HttpFile",
				"structure": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "dateint",
						"type": "Int64"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "temp",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects",
						"jsonPathDefinition": {
							"_id": "$.['_id']",
							"date": "$.['date']",
							"dateint": "$.['dateint']",
							"airport": "$.['airport']",
							"temp": "$.['temp']"
						}
					},
					"relativeUrl": "",
					"requestMethod": "GET",
					"additionalHeaders": "x-apikey: 5a31643dcb25c1076c7cd9ab\nContent-Type: application/json"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HTTP_Weather')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzStorage_Staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzStorage_Staging_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Az_blob_S3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Az_blob_S3_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDWDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureDWDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureODSDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureODSDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HDI_ADFLab')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "hadoop",
					"clusterSize": 4,
					"timeToLive": "00:05:00",
					"version": "3.6",
					"hostSubscriptionId": "[parameters('HDI_ADFLab_properties_typeProperties_hostSubscriptionId')]",
					"clusterResourceGroup": "[parameters('HDI_ADFLab_properties_typeProperties_clusterResourceGroup')]",
					"servicePrincipalId": "[parameters('HDI_ADFLab_properties_typeProperties_servicePrincipalId')]",
					"osType": "Linux",
					"tenant": "[parameters('HDI_ADFLab_properties_typeProperties_tenant')]",
					"clusterNamePrefix": "",
					"clusterPassword": {
						"type": "SecureString",
						"value": "[parameters('HDI_ADFLab_clusterPassword')]"
					},
					"clusterSshUserName": "[parameters('HDI_ADFLab_properties_typeProperties_clusterSshUserName')]",
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "[parameters('HDI_ADFLab_clusterSshPassword')]"
					},
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('HDI_ADFLab_servicePrincipalKey')]"
					},
					"linkedServiceName": {
						"referenceName": "AzStorage_Staging",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": "",
					"subnetName": "",
					"virtualNetworkId": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HDI_Hive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "hadoop",
					"clusterSize": 4,
					"timeToLive": "00:05:00",
					"version": "3.6",
					"hostSubscriptionId": "[parameters('HDI_Hive_properties_typeProperties_hostSubscriptionId')]",
					"clusterResourceGroup": "[parameters('HDI_Hive_properties_typeProperties_clusterResourceGroup')]",
					"servicePrincipalId": "[parameters('HDI_Hive_properties_typeProperties_servicePrincipalId')]",
					"osType": "Linux",
					"tenant": "[parameters('HDI_Hive_properties_typeProperties_tenant')]",
					"clusterNamePrefix": "",
					"clusterPassword": {
						"type": "SecureString",
						"value": "[parameters('HDI_Hive_clusterPassword')]"
					},
					"clusterSshUserName": "[parameters('HDI_Hive_properties_typeProperties_clusterSshUserName')]",
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "[parameters('HDI_Hive_clusterSshPassword')]"
					},
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('HDI_Hive_servicePrincipalKey')]"
					},
					"linkedServiceName": {
						"referenceName": "AzStorage_Staging",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": "",
					"subnetName": "",
					"virtualNetworkId": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_Weather')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HTTP_Weather_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SSISDB Azure Endpoint')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('SSISDB Azure Endpoint_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Module2 Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Module2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2019-07-16T17:02:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Module2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADFLab-SSIS')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"nodeSize": "Standard_D2_v3",
						"numberOfNodes": 2,
						"maxParallelExecutionsPerNode": 1
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('ADFLab-SSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('ADFLab-SSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('ADFLab-SSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "Basic"
						},
						"edition": "Standard",
						"licenseType": "BasePrice"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}